.markdown-active .switch-markdown {
	background-color: #f5f5f5;
	color: #555;
	border-bottom-color: #f5f5f5;
}

.markdown-active .switch-html {
	background-color: #ebebeb !important;
	color: #666666 !important;
	border-bottom-color: #e5e5e5 !important;
}